* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productosInicio {
    margin: 50px 0px 50px 0px;
}

.MyCarousel {
    max-width: 35%;
    margin: 35px auto 0px auto;
}

.carouselItem {
    width: 100% !important;
    height: 460px !important;  
}

.d-block{
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
    cursor: pointer;
    filter: brightness(0.7)
}

.d-block:hover{
    filter: brightness(0.4)
}


.footer{
    margin-top: 30px;
}

.footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: white;
    
}

.footer a p{
    margin: 0px;
    font-size: 30px;
}

.menadeco{
    padding: 5px 0px 0px 6px;
}

.ItemListContainer {
    margin: 30px 0px 0px 0px;
}

